<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=pootle;AccountKey=6GKT2jQ2EbFK1/EMBuFSN1KBmfesp9wVjBjMIdnUBogTkfVCPZNk7WGSvNpo41Vm2gTMkicAM18kIAutI3QgeQ=="/>
  </appSettings>
</configuration>